.slider-thumb {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #447bff 0%, #b7c8ff 100%);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* Webkit thumb */
.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  border: 3px solid #447bff;
  cursor: pointer;
  margin-top: -6px;
}

/* Firefox */
.slider-thumb::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  border: 3px solid #447bff;
  cursor: pointer;
}
